body {
    overflow: hidden;
}

hr {
    color: hsla(0, 0%, 100%, 0.06);
    background-color: hsla(0, 0%, 100%, 0.06);
    height: 2px;
}

.server-list {
    background-color: #202225;
    height: 100vh;
}

.chat-window {
    background-color: #36393f;
    height: 100vh;
    color: white;
}

.users-list {
    background-color: #4f545c;
    height: 100vh;
}

.server-list-icon {
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

.profile-user-icon {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.server-list-icon:hover {
    border-radius: 35%;
    cursor: pointer;
}

.server-icon-badge {
    position: absolute;
    bottom: 2px; /* position where you want it */
    right: 2px;
    padding: 3px 6px;
    border: 3px solid #202225;
}

.badge-container {
    display: inline-block; /* keeps the img with the badge if the img is forced to a new line */
    position: relative;
    margin-bottom: 5px;
}

